In [ ]:
# My First Jupyter Notebook

In [1]:
print('Hola')

Hola

In [2]:
3+15

18

In [6]:
four = 4
three = 3
print(four + three)

7

In [7]:
# Shift + Enter runs a cell

In [8]:
ls

my_first_notebook.ipynb           readme.md
python_introduction_exercises.py

In [9]:
# You can use Jupyter to run commands in the terminal, like in ipython

In [10]:
# These cells are not isolated! The scope of these variables is global.
# You can assign a variable in one cell and use it in a subsequent cell:

In [11]:
print(four)

4